$color-red: #ce1b28;
$color-black: #111111;
$color-dark: #555555;
$color-light: #ffffff;
header {
    background-color: #111111;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 30px;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
}

header nav a {
    color: #FFFFFF;
    text-decoration: none;
    opacity: 50%;
    justify-content: space-evenly;
    margin-left: 20px;
}

.intro {
    background-image: url(OneDrive_1_04-11-2025/banner2.jpg);
    height: 360px;
    width: 1500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color : $color-light;

}

img {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
   
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color : $color-dark;
    
    background-image: url(OneDrive_1_04-11-2025/bg.jpg);
    height: 850px;
    width: 1500px;
    

    article .article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color : $color-dark;
    }
}